.about-title {
    margin-top: 90px;
    text-align: center;
    text-transform: uppercase;
}

.about {
    background-color: #eee;
    height: 650px;
    font-size: 1.3rem;
    
}

.about-txt {
    padding: 20px 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
}
.about-txt span {
    font-weight: bold;
}
.center {
    margin: 0 auto;
}
.about-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    list-style: none;
    padding: 10px 0 0 20px;
    margin: 0 auto;
    text-align: center;
}
.about-list-el {
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
.about-list-el:hover {
    color: $color-logo;
}
.about-img {
    background-image: url("../images/section2-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

@media (max-width: 640px) {
    .row {
        display: block;
    }
    .about-title {
        margin-top: 0;
        padding-top: 30px;
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
    }
    .about {
        background-color: rgba(0, 0, 0, 0.1);
        height: 650px;
        font-size: 0.8rem;
    }
    .about-txt {
        padding: 15px;
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .about-img {
        display: none;
    }
    .about-list {
        display: flex;
        flex-direction: row;
        flex-grow: 1 0;
        list-style: none;
        padding: 0;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .about-list-el:hover {
        color: none;
    }
}
