.favourites {
    height: 500px;
    font-size: 1.5rem;
    text-align: center;
    padding: 40px;
}
.favourites-title {
    padding: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: $color-logo;
}
.favourites-txt {
    padding: 20px;
    font-size: 1rem;
}

.favourites-img {
    background-image: url("../images/hobby.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

@media (max-width: 640px) {
    .favourites {
        height: 1200px;
        padding: 30px;
    }
    .favourites-title {
        font-size: 1.3rem;
    }
    .favourites-img {
    display: none;
}
}