.portfolio {
    margin-top: 80px;
    height: 100%;
    font-size: 1.5rem;
    text-align: center;
    padding: 30px;
}
.portfolio-title {
    text-transform: uppercase;
    color: $color-logo;
    margin: 40px 0;
}
.portfolio-img {
    background-image: url("../images/section3-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.portfolio-kettle,
.portfolio-sit {
    height: 450px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 40px 0;
}

.image {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 640px) {
    .portfolio {
        margin-top: 30px;
        height: 500px;
        text-align: center;
        padding: 30px;
    }
    .portfolio-title {
        margin: 20px 0;
        font-size: 1.3rem;
    }
    .portfolio-kettle,
    .portfolio-sit {
        height: 150px;
    }
    .image {
        display: block;
        width: 100%;
    }
    .portfolio-img {
        display: none;
    }
}
